<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FeedingServicePoolingTime" value="900000"/>
    <add key="AnimalHealthPoolingTime" value="900000"/>
    <add key="MockSensorPoolingTime" value="5000"/>
  </appSettings>
  <connectionStrings>
    <add name="ZoosManagementSystemEntities" connectionString="metadata=res://*/Storage.ZoosManagementSystemDbModel.csdl|res://*/Storage.ZoosManagementSystemDbModel.ssdl|res://*/Storage.ZoosManagementSystemDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ROB-LAPTOP\SQLEXPRESS;Initial Catalog=ZoosManagementSystem;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEnvironmentActionsService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEnvironmentConditionsService"
            closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
            sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard" maxBufferSize="65536"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/MockEnvironmentActionsService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnvironmentActionsService"
          contract="MockEnvironmentActionsService.IEnvironmentActionsService"
          name="BasicHttpBinding_IEnvironmentActionsService" />
      <endpoint address="http://localhost:8080/MockEnvironmentConditionsService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnvironmentConditionsService"
          contract="MockEnvironmentConditionsService.IEnvironmentConditionsService"
          name="BasicHttpBinding_IEnvironmentConditionsService" />
    </client>
  </system.serviceModel>
</configuration>