<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ZoosManagementSystemEntities" connectionString="metadata=res://*/ZoosManagmentSystem.csdl|res://*/ZoosManagmentSystem.ssdl|res://*/ZoosManagmentSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PC-9\SQLEXPRESS;Initial Catalog=ZoosManagementSystem;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>