<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="ZoosManagementSystemEntities" connectionString="metadata=res://*/Storage.ZooManagmentSystemModel.csdl|res://*/Storage.ZooManagmentSystemModel.ssdl|res://*/Storage.ZooManagmentSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ROB-LAPTOP\SQLEXPRESS;Initial Catalog=ZoosManagementSystem;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>